* {
    background-color: rgb(241, 230, 215);
}
body {
    color: blue;

}
h1{
    background-color: black;
    border: 10px solid; color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 55px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;

}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: blue solid
    
    
}

footer{
    background-color: rgba(0, 0, 0, 0.773);
    border: rgb(6, 30, 249);
    font-size: 25px ;
    display: flexbox;
    align-self: center;
color: red;
background-image: url(/images/footerimage.jpg);
background-repeat: repeat-x;
background-size: 50px 20px;
}





