* {
background-color: red;

}

Body {
    color: blue;

    font-style: italic;
   font-size: 23px;
   
}


h1{
    background-color: black;
    border: 10px solid; color: blue;
    font-style: bold

}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
    width: 50px;
    height: auto;

}


